# dependencies
/node_modules
/landinpage/node_modules
/landinpage/.pnp
/landinpage/.pnp.js

# testing
/landinpage/coverage

# production
/landinpage/build

# misc
/backend/config/config.env
/landinpage/.DS_Store
/landinpage/.env.local
/landinpage/.env.development.local
/landinpage/.env.test.local
/landinpage/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*