@media (max-width: 2310px) and (min-width: 2111px){
    .cardtext1 p {
        font-size: 14px !important;
        margin-top: -15px;
    }
    .home-main {
        margin-top: 48%;
    }
    .header-banner .search-main .search-section {
        width: 100%;
        padding: 2rem 2rem 3rem 3rem;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .header-banner .search-main {
        position: absolute;
        margin-top: -5vh;
        /* bottom: -6%; */
        width: 70%;
        background-color: #d4af37;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .header-banner .bg-video-wrap {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 77vh;
    }
    .header-banner .banner-main {
        z-index: 5;
        height: 38vw;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        margin-left: 12vw;
    }
    .header-banner .banner-main h1 {
        font-family: "DM Serif Text", serif;
        color: #fff !important;
        font-size: 5rem;
        line-height: 4rem;
    } 
    .header .custom-nav .navbar-nav li .nav-link {
        text-transform: uppercase;
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
        color: black;
    }
    .home-main .aircraft-section {
       
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        margin-top: -110px;
    }
    .home-main .package-section {
      
        /* background-position: center center; */
        background-repeat: no-repeat;
        height: 750px;
        padding: 5rem 0;
    }
    .home-main .aircraft-section .about {
        margin-top: 10rem;
        background-color: #fff;
        padding: 4rem 1rem 3rem 2rem;
        }
        .aboutustop{
            margin-top: 5% !important;
        }
}


@media (max-width: 2110px) and (min-width: 1921px){
    .cardtext1 p {
        font-size: 14px !important;
        margin-top: -15px;
    }
    .home-main {
        margin-top: 48%;
    }
    .header-banner .search-main .search-section {
        width: 100%;
        padding: 2rem 2rem 3rem 3rem;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .header-banner .search-main {
        position: absolute;
        margin-top: -6vh;
        /* bottom: -6%; */
        width: 70%;
        background-color: #d4af37;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .header-banner .bg-video-wrap {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 77vh;
    }
    .header-banner .banner-main {
        z-index: 5;
        height: 38vw;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        margin-left: 12vw;
    }
    .header-banner .banner-main h1 {
        font-family: "DM Serif Text", serif;
        color: #fff !important;
        font-size: 5rem;
        line-height: 4rem;
    } 
    .header .custom-nav .navbar-nav li .nav-link {
        text-transform: uppercase;
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
        color: black;
    }
    .home-main .aircraft-section {
       
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        margin-top: -110px;
    }
    .home-main .package-section {
      
        /* background-position: center center; */
        background-repeat: no-repeat;
        height: 750px;
        padding: 5rem 0;
    }
    .home-main .aircraft-section .about {
        margin-top: 10rem;
        background-color: #fff;
        padding: 4rem 1rem 3rem 2rem;
        }
        .aboutustop{
            margin-top: 5% !important;
        }
}

@media (max-width: 1920px) and (min-width: 1441px){
    .cardtext1 p {
        font-size: 14px !important;
        margin-top: -15px;
    }
    .home-main {
        margin-top: 48%;
    }
    .aboutustop{
        margin-top: 5% !important;
    }
    .header-banner .search-main .search-section {
        width: 100%;
        padding: 2rem 2rem 3rem 3rem;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .header-banner .search-main {
        position: absolute;
        margin-top: -6vh;
        /* bottom: -6%; */
        width: 70%;
        background-color: #d4af37;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .header-banner .bg-video-wrap {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 77vh;
    }
    .header-banner .banner-main {
        z-index: 5;
        height: 38vw;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        margin-left: 12vw;
    }
    .header-banner .banner-main h1 {
        font-family: "DM Serif Text", serif;
        color: #fff !important;
        font-size: 5rem;
        line-height: 4rem;
    } 
    .header .custom-nav .navbar-nav li .nav-link {
        text-transform: uppercase;
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
        color: black;
    }
    .home-main .aircraft-section {
       
        background-position: center center;
        background-repeat: no-repeat;
        height: 100vh;
        margin-top: -110px;
    }
    .home-main .package-section {
      
        /* background-position: center center; */
        background-repeat: no-repeat;
        height: 750px;
        padding: 5rem 0;
    }
    .home-main .aircraft-section .about {
        margin-top: 10rem;
        background-color: #fff;
        padding: 4rem 1rem 3rem 2rem;
        }
}

@media (max-width: 1441px) and (min-width: 1640){
    .home-main {
        margin-top: 8vh;
    }
    .header .custom-nav .navbar-nav li .nav-link {
        text-transform: uppercase;
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
        color: black;
    }
    .home-main .package-section {
        /* background-position: center center; */
        background-repeat: no-repeat;
        height: 80vh;
        padding: 5rem 0;
    }
}
@media (max-width: 1201px) and (min-width: 1440) {
    .header-banner .search-main {
        position: absolute;
        width: 70%;
        background-color: #d4af37;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        margin-top: 95vh;
    }
    .header .custom-nav .navbar-nav li .nav-link {
        text-transform: uppercase;
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 14px;
        color: black;
    }
}


@media (max-width: 1441px) and (min-width: 1201px) {
    .custom-container {
        margin: 0 13rem;
    }
    .ambulanec-content p {
        font-size: 13px !important;
        width: 76%;
        margin-left: 30px;
        margin-top: 30px;
    }
    .ambulance-item h2 {
        font-size: 38px !important;
        width: 76%;
        margin-left: 30px;
        margin-top: 30px;
    }
    .ambulance-item p{
        font-size: 13px !important;
    }
    .banner-content h1 {
        font-size: 50px;
        font-family: "DM Serif Text", serif;
    }
    .card1 p{
        font-size: 12px;
       }
    .home-main .aircraft-section {
        margin-top: -75px;
        height: 590px;
    }
    .header-banner .bg-video-wrap {
        height: 100vh;
    }
    
    // .header-banner .bg-video-wrap {
    //     height: 75vh;
    // }
    // .header-banner {
    //     height: 75vh;
    // }
    .header-banner .search-main .search-section {
        padding: 1rem 1rem 1rem 3rem;
    }
    .header-banner .search-main{
        margin-top: -7vh;
    }
    .newabc {
        height: 70vh;
        width: 100% !important;
        position: relative;
        font-family: Arial;
    }
    .newabc img{
        height: 70vh;
        width: 100%;
      }

      .text-block {
        position: absolute;
        top: 110px;
        left: 100px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        width: 380px;
    }
    // .header-banner .search-main {
    //     bottom: -10%;
    // }
    .header-banner .search-main .search-section .search-form .form-control input {
        width: 120px;
        font-size: 12px;
    }
    .banner-main .ml3 p{
        font-variant: 1.2rem;
    }
    .header-banner .search-main .button-section {
        height: 102px;
    }
    .home-main .hotel-services {
        margin: 5rem 0;
    }
    .home-main .hotel-services h2 {
        line-height: 1rem;
        font-size: 2rem !important;
    }
    .home-main .hotel-services p { 
        font-size: .8rem !important;
    }
    .home-main .aircraft-section .about h2 {
        font-size: 2rem !important;
    }
    .home-main .aircraft-section .about p {
        font-size: 0.8rem !important;
    }
    .home-main .aircraft-section .about {
        margin-top: 7rem;
    }
    .home-main .package-section{
        padding: 2rem 0;
    }

    .home-main .package-section h2 {
        font-size: 2.5rem !important;  
    }
    .home-main .package-section .card .card-body p {
        text-align: center;
        font-size: 0.9rem !important;
    }
    .home-main .package-section .card .card-img {
        width: 100px;
        height: 100px;
    }
    .home-main .package-section .card {
        padding: 2rem 1rem;
    }
    .contactus .info-details h2 {
        font-size: 2rem !important;
    }

    .contactus .contactus-form form button {
        height: 45px;
    }

    .footer .footer-top .footer-links p {
        font-size: 12px !important;
    }
    .footer .footer-top .footer-logo p{
        font-size: 12px !important;
    }
    .footer .footer-top .footer-logo img {
        width: 90%
    }
    h2{
        font-size: 2rem !important;
    }
    p{
        font-size:  1.3rem !important;
    }
    h3{
        font-size: 1.2rem !important;
    }
    .contactus .contactus-form form input {
        margin: 10px 0;
        padding-left: 10px;
        height: 50px;
        font-size: 12px;

    }
    textarea{
        margin: 10px 0 !important;
        padding-left: 10px !important;
        font-size: 12px !important;
        height: 150px !important;
    }
    
    .home-main .onlineplatform-section .right-top-img {
        height: 900px;
        top: -10%;
    }

   
    .header-banner .header .navbar {
        height: 80px;
    }
    .header-banner .banner-main h1{
        font-size: 3rem !important;
    }
    .header-banner .banner-main h2 {
        font-size: 2rem !important;
    }
    .custom-btn {
        font-size: 12px;
    }

    .header-banner .header .custom-nav .navbar-nav li .nav-link {
        font-size: 10px;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .header-banner .header .banner-main h2 {
        font-size: 1.6rem;
    }

    .header-banner .header .banner-main h1 {
        font-size: 2.5rem;
    }

    .home-main .onlineplatform-section .solution h2 {
        font-size: 2.2rem !important;
    }

    .home-main .onlineplatform-section .ourfriends h2 {
        font-size: 2.2rem;
    }

    .home-main .onlineplatform-section .mobile-platform {
        height: 500px;
        z-index: 100;
    }
    .header-banner .header .navbar {
        height: 90px;
    }
   
    .header-banner .banner-main {
        z-index: 5;
        height: 75vh; 
        /* display: flex; */
        /* flex-direction: column; */
        /* align-content: flex-start; */
        /* justify-content: flex-start; */
        /* align-items: flex-start; */
        position: absolute;
        justify-content: center;
        /* top: 30%; */
        bottom: 0;
        left: 20%;
        right: 0;
        margin: auto;
    }
    .home-main .package-section {
        height: 630px;
    }
    
}

@media (max-width: 1200px) and (min-width: 993px) {
    .custom-container {
        margin: 0 2rem;
    }
    .ambulanec-content p {
        font-size: 12px !important;
        width: 76%;
        margin-left: 30px;
        margin-top: 30px;
    }
    .ambulance-item h2 {
        font-size: 38px !important;
        width: 76%;
        margin-left: 30px;
        margin-top: 30px;
    }
    .ambulance-item p{
        font-size: 12px !important;

    }
    .banner-content h1 {
        font-size: 50px;
        font-family: "DM Serif Text", serif;
    }
    .column2{
        
        height: 120px !important;
        width: 130px !important;
        margin-top: 20px;
      
        
      }
    .header-banner .bg-video-wrap {
        height: 35vh;
    }
    .newabc {
        height: 55vh;
        width: 100% !important;
        position: relative;
        font-family: Arial;
      }
    .home-main .hotel-services .arabicstyle p {
        font-family: 'Cairo', sans-serif !important;
        font-size: 12px !important;
    }
    .header-banner {
        height: 35vh;
    }
    .header-banner .search-main .search-section {
        padding: 1rem 1rem 1rem 3rem;
    }
    // .header-banner .search-main {
    //     bottom: -10%;
    // }
    .header-banner .banner-main h1 {
        font-size: 2.5rem;
        line-height: 2rem;
    }
    .header-banner .banner-main p {
        font-size: 1rem !important;
    }
    .header-banner .search-main .search-section .search-form .form-control input {
        width: 100px;
        font-size: 12px;
    }
    .header-banner .search-main .button-section {
        height: 102px;
    }
    .home-main .hotel-services {
        margin: 5rem 0;
    }
    .home-main .hotel-services h2 {
        line-height: 1rem;
        font-size: 2rem !important;
        padding-left: 6px;
    }
    .home-main .hotel-services p { 
        font-size: .8rem !important;
        padding-left: 6px;
    }
    .home-main .aircraft-section .about h2 {
        font-size: 2rem !important;
    }
    .home-main .aircraft-section .about p {
        font-size: .8rem !important;
    }
    .home-main .aircraft-section .about {
        margin-top: 5rem;
    }
    .home-main .package-section{
        padding: 4rem 0;
    }

    .home-main .package-section h2 {
        font-size: 2.5rem !important;  
    }
    .home-main .package-section .card .card-body p {
        text-align: center;
        font-size: 0.9rem !important;
    }
    .home-main .package-section .card .card-img {
        width: 100px;
        height: 100px;
    }
    .home-main .package-section .card {
        padding: 2rem 1rem;
    }
    .contactus .info-details h2 {
        font-size: 2rem !important;
    }

    .contactus .contactus-form form button {
        height: 45px;
    }

    .footer .footer-top .footer-links p {
        font-size: 12px !important;
    }
    .footer .footer-top .footer-logo p{
        font-size: 12px !important;
    }
    .footer .footer-top .footer-logo img {
        width: 90%
    }
    .header .custom-nav .navbar-nav li .nav-link {
        padding-right: 0.5rem;
        padding-left: .5rem;
        font-size: 9px;
    }
    .header .custom-nav .navbar-nav li .header-search-btn {
        padding: 2px 5px;
        border-radius: 5px;
        margin-right: 1rem;
    }
    .header .custom-nav .navbar-nav li .header-search-btn i{
        font-size: 12px;
    }
    .header-banner .search-main .search-section .search-form .form-control input[type=number] {
        width: 40px;
    }
    .header-banner .search-main {
        width:100% ;
        margin-top: -6vh;
    }
    .header-banner .banner-main {
        z-index: 5;
        height: 30vw;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        justify-content: center;
        margin-left: 22vw;
    }
    .home-main {
        margin-top: 26vh;
    }
    .home-main .package-section {
        height: 730px;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
        padding: 2px;
    }
   .card1 p{
    font-size: 12px;
   }
    
}

@media (max-width: 992px) and (min-width: 769px) {
    .vision {
        width: 90%;
        margin: auto;
    }
    .newabc {
        height: 50vh;
        width: 100% !important;
        position: relative;
        font-family: Arial;
    }
    .newabc img{
        height: 50vh;
        width: 100%;
      }
    .whymanasik {
        height: 580px;
        width: 80%;
        margin: auto;
        display: flex;
    }
    .warning-card {
        width: 80%;
        display: flex;
        height: 400px;
        margin: auto;
    }
    .about-bg {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 590px;
        width: 100%;
    }
    .warning-section p {
        font-size: 14px !important;
    }
    .scaleimage-about {
        display: flex;
        margin-top: 20px;
        /* background-color: #d4af37; */
       justify-content: center;
    }

    .header .navbar .navbar-toggler .arabictoggle{
        float: right !important;
    }
    .dropdown-menu-dark .dropdown-item:hover{
        color: rgb(44, 43, 43) !important;
    }
    .header .navbar .navbar-toggler {
        border-color: transparent;
        float: right;
    }
    .arabicstyle {
        flex-direction: row-reverse;
        font-family: Noto-Sans-Arabic;
        /* height: 100px !important; */
        display: block !important;
    }
    .custom-container {
        margin: 0 2rem;
    }
    .col-12.col-md-10.mobilemenu {
        width: 100% !important;
        position: absolute;
        right: 0;
    }
    .row.g-0.justify-content-end.w-100.h-100 .col-md-10 {
        width: 100% !important;
       }
    ul.dropdown-menu.dropdown-menu-dark.show {
        background: transparent;
        border: unset;
    }
    ul.dropdown-menu.dropdown-menu-dark.show {
        text-align: center;
    }
    ul.dropdown-menu.dropdown-menu-dark.show a.nav-link {
        font-size: 10px;
    }
    .ambulanec-content p {
        font-size: 12px !important;
        width: 76%;
        margin-left: 30px;
        margin-top: 30px;
    }
    .dropdown-menu-dark .dropdown-item {
        color: #000;
        font-size: 12px;
    }
    .ambulance-item h2 {
        font-size: 38px !important;
        width: 76%;
        margin-left: 30px;
        margin-top: 30px;
    }
    .ambulance-item p{
        font-size: 12px !important;

    }
    .banner-content h1 {
        font-size: 40px;
        font-family: "DM Serif Text", serif;
    }
    .ambulanec-banner {
       
        height: 350px;
        width: 70%;
        margin: auto;
    }
    .abulance33 .custom-btn {
        margin-top: 20px !important;

    }
    .ambulancetext {
        margin-left: 6px;
        margin-top: 30px;
    }
    .hotel-services1 {
        height: 810px;
        margin-top: 90px;
    }

.gallerydiv{
    height: 580px;
    display: block;
  }
  .gallery-left1{
  height: 300px;
  flex: 1;
  }
  .gallery-right1{
    height: 400px;
    flex: 1;
  
  }
  .row2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .column2{
    
    height: 140px !important;
    width: 110px !important;
    margin-top: 20px;
  
    
  }
  .custom-btn {
    margin-top: 15px !important;
    
}
  
  .ctmbtn{
    margin-top: 135px !important;
    margin-right: 290px;
  }
  .card2 img{
  width: 100%;
  height: 100%;
  }
  .gallery-right1 img{
    width: 100%;
  height: 100%;
  }
  .gallery-text h6 {
    padding-left: 75px;
    padding-top: 10px;
    font-size: 14px;
    color: #473939;
  
  }
  .gallery-text h3 {
   color: #d4af37;
   font-size: 28px;
   font-weight: 600;
   padding-left: 75px;
    padding-top: 10px;
  }
    .card1 p{
        font-size: 12px;
       }
    .header-banner .bg-video-wrap {
        height: 45vh;
    }
    .header-banner {
        height: 48vh;
    }
    .header-banner .search-main .search-section {
        padding: 1rem 1rem 1rem 3rem;
    }
    // .header-banner .search-main {
    //     bottom: -10%;
    // }
    .header-banner .banner-main h1 {
        font-size: 2rem;
        line-height: 3rem;
    }
    .header-banner .banner-main p {
        font-size: 1.5rem;
    }
    .header-banner .search-main .search-section .search-form .form-control input {
        width: 100px;
        font-size: 12px;
    }
    .header-banner .search-main .button-section {
        height: 102px;
    }
    .home-main .hotel-services {
        margin: 5rem 0;
    }
    .home-main .hotel-services h2 {
        line-height: 1rem;
        font-size: 2rem !important;
    }
    .home-main .hotel-services p { 
        font-size: .8rem !important;
    }
    .home-main .aircraft-section .about h2 {
        font-size: 2rem !important;
    }
    .home-main .aircraft-section .about p {
        font-size: .8rem !important;
    }
    .home-main .aircraft-section .about {
        margin-top: 12rem;
    }
    .home-main .package-section {
        padding: 4rem 0;
        min-height: 700px;
    }

    .home-main .package-section h2 {
        font-size: 2.5rem !important;  
    }
    .home-main .package-section .card .card-body p {
        text-align: center;
        font-size: 0.9rem !important;
    }
    .home-main .package-section .card .card-img {
        width: 100px;
        height: 100px;
    }
    .home-main .package-section .card {
        padding: 2rem 1rem;
    }
    .contactus .info-details h2 {
        font-size: 2rem !important;
    }

    .contactus .contactus-form form button {
        height: 45px;
    }

    .footer .footer-top .footer-links p {
        font-size: 12px !important;
    }
    .footer .footer-top .footer-logo p{
        font-size: 12px !important;
    }
    .footer .footer-top .footer-logo img {
        width: 90%
    }
    .header .custom-nav .navbar-nav li .nav-link {
        padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 14px;
    text-align: center;
    }
    .header .custom-nav .navbar-nav li .header-search-btn {
        padding: 2px 5px;
        border-radius: 5px;
        margin-right: 1rem;
    }
    .header .custom-nav .navbar-nav li .header-search-btn i{
        font-size: 12px;
    }
    .header-banner .search-main .search-section .search-form .form-control input[type=number] {
        width: 40px;
    }
    .header-banner .search-main {
        width:100% ;
        margin-top: -6vh;
    }
    .col-12.col-md-6.col-xxl-5.about {
        margin-top: 60px !important;
        margin-right: 1px !important;
        width: 80%;
    }
    .header-search-btn{
        display: none;
    }
    .nav-item img{
        display: block;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 46%;
        margin-left: 3%;
    }
    .col-md-10 {
        flex: 0 0 auto;
        width: 100%;
        background-color: #eaecee !important;
        
    }
    .package-section {
        height: 50vh;
        padding: 9rem 0;
    }
    .card1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #fff;
        height: 400px;
        margin-top: 10px;
        transition: all 0.8s ease-out;
       }
    .card1:hover {

        height: 480px;
       }
    .card1:hover .newpack{
        transition: all 0.8s ease-out;
        margin-top: 2px;
        display: block;
       }
       .home-main .aircraft-section {
        

        margin-top: -75px;
        height: 490px;

    }
    
}

@media (max-width: 768px) and (min-width: 690px) {
    .header .navbar .navbar-toggler .arabictoggle{
        float: right !important;
    }
    .text-block {
        position: absolute;
        top: 110px;
        left: 10px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        width: 380px;
    }
    
    
    
    
    .text-block p {
        color: #fff !important;
        font-size: 1.1rem !important;
        letter-spacing: -1px;
        line-height: 2rem;
        font-weight: 300;
    }
    
    
    .text-block h1 {
        font-size: 1.8rem;
        font-family: "DM Serif Text", serif;
    }
    .ambulance-item h2 {
        color: #d4af37;
        font-size: 22px;
        font-weight: 500;
        margin: 15px;
        margin-top: 30px;
        font-family: 'DM SERIF TEXT';
    }
    .header-banner .search-main .button-section {
        background-color: #fff;
        box-shadow: 2px 0px 20px -5px rgb(128 128 128 / 41%);
        width: 135px;
        height: 150px;
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .blackdiv {
        height: 600px;
        margin-top: 70px;
        background-color: #000;
    }
    .dropdown-menu-dark .dropdown-item:hover{
        color: rgb(44, 43, 43) !important;
    }
    .header .navbar .navbar-toggler {
        border-color: transparent;
        float: right;
    }
    .arabicstyle {
        flex-direction: row-reverse;
        font-family: Noto-Sans-Arabic;
        /* height: 100px !important; */
        display: block !important;
    }
    .col-12.col-md-10.mobilemenu {
        width: 100% !important;
        position: absolute;
        right: 0;
    }
    .row.g-0.justify-content-end.w-100.h-100 .col-md-10 {
        width: 100% !important;
       }
    ul.dropdown-menu.dropdown-menu-dark.show {
        background: transparent;
        border: unset;
    }
    ul.dropdown-menu.dropdown-menu-dark.show {
        text-align: center;
    }
    ul.dropdown-menu.dropdown-menu-dark.show a.nav-link {
        font-size: 10px;
    }
    
    li.nav-item.dropdown {
        text-align: center;
    }
    .dropdown-menu-dark .dropdown-item {
        color: #000;
        font-size: 12px;
    }
    .custom-container {
        margin: 0 2rem;
    }
    .hotel-services1 {
        height: 660px;
        margin-top: 90px;
    }
    .bg-video-wrap {
        background-position: left;
        background-size: auto;
        background-repeat: no-repeat;
    }
    .header-banner .banner-main p {
        padding: 0;
        margin: 0;
        color: #fff !important;
        font-size: 1.5rem !important;
        letter-spacing: -1px;
        line-height: 2rem;
        font-weight: lighter;
    }
    .col-md-11 {
        flex: 0 0 auto;
        width: 91.666667%;
        padding-left: 10px;
    }
    .home-main .package-section {
        padding: 4rem 0;
        min-height: 1800px;
    }
   
    .header-banner .bg-video-wrap {
        height: 45vh;
    }
    .header-banner {
        height: 45vh;
    }
    .header-banner .search-main .search-section {
        padding: 1rem 1rem 1rem 3rem;
        display: table;
    }
    // .header-banner .search-main {
    //     bottom: -10%;
    // }
    .col-12.col-md-6.col-xxl-5.about {
        // margin-top: 60px !important;
        margin-right: 1px !important;
    }
    .header-banner .banner-main h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .header-banner .banner-main p {
        font-size: 1.5rem;
    }
    .header-banner .search-main .search-section .search-form .form-control input {
        width: 100px;
        font-size: 12px;
    }
    .header-banner .search-main .button-section {
        height: 102px;
    }
    .home-main .hotel-services {
        margin: 7rem 0;
    }
    .home-main .hotel-services h2 {
        line-height: 1rem;
        font-size: 2rem !important;
    }
    .home-main .hotel-services p { 
        font-size: .8rem !important;
    }
    .home-main .aircraft-section .about h2 {
        font-size: 2rem !important;
    }
    .home-main .aircraft-section .about p {
        font-size: .8rem !important;
    }
    .home-main .aircraft-section .about {
        //margin-top: 12rem;
    }
    .home-main .package-section{
        padding: 4rem 0;
    }

    .home-main .package-section h2 {
        font-size: 2.5rem !important;  
    }
    .home-main .package-section .card .card-body p {
        text-align: center;
        font-size: 0.9rem !important;
    }
    .home-main .package-section .card .card-img {
        width: 100px;
        height: 100px;
    }
    .home-main .package-section .card {
        padding: 2rem 1rem;
    }
    .contactus .info-details h2 {
        font-size: 2rem !important;
    }

    .contactus .contactus-form form button {
        height: 45px;
    }

    .footer .footer-top .footer-links p {
        font-size: 12px !important;
    }
    .footer .footer-top .footer-logo p{
        font-size: 12px !important;
    }
    .footer .footer-top .footer-logo img {
        width: 90%
    }
    .header .custom-nav .navbar-nav li .nav-link {
        padding-right: 0.5rem;
        padding-left: .5rem;
        font-size: 9px;
    }
    .header .custom-nav .navbar-nav li .header-search-btn {
        padding: 2px 5px;
        border-radius: 5px;
        margin-right: 1rem;
    }
    .header .custom-nav .navbar-nav li .header-search-btn i{
        font-size: 12px;
    }
    .header-banner .search-main .search-section .search-form .form-control input[type=number] {
        width: 40px;
    }
    .header-banner .search-main {
        width:100% ;
        position: absolute;
        margin-top: -6vh;
    }

    .col-12.col-md-6.col-xxl-5.about {
        height: 460px;
        margin-right: 1px !important;
        width: 80%;
    }
    .card1 {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        padding: 16px;
        text-align: center;
        background-color: #fff;
        height: 450px;
        width: 70%;
        margin-top: 10px;
        transition: all 0.8s ease-out;
        margin: auto;
    }
    .bg-video-wrap {
       
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .col-md-10 {
        flex: 0 0 auto;
        width: 100%;
        background-color: #eaecee !important;
    }
    .header-search-btn{
        display: none;
    }
    .nav-item img{
        display: block;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 48%;
    }
    .header-banner .search-main .search-section .search-form {
        display: flex;
        height: -moz-fit-content;
        height: fit-content;
        align-content: center;
        z-index: 100;
    }
    .home-main .hotel-services .image-section img {
        width: auto;
        height: 340px;
        margin-top: 2vh;
    }
    .vision {
        width: 90%;
        margin: auto;
    }
    .missionclass {
        width: 90%;
        margin: auto;
    }
    .whymanasik {
        height: 580px;
        width: 90%;
        margin: auto;
        display: flex;
    }
    .scaleimage-about {
        display: flex;
        margin-top: 20px;
        /* background-color: #d4af37; */
        justify-content: center;
    }
    .warning-card {
        width: 90%;
        display: flex;
        height: 418px;
        margin: auto;
    }
    .warning-section p {
        font-size: 14px !important;
    }
    .newabc {
        height: 50vh;
        width: 100% !important;
        position: relative;
        font-family: Arial;
    }
    .newabc img{
        height: 50vh;
        width: 100%;
      }
}
@media (max-width: 689px) and (min-width: 576px){
    .vision {
        width: 90%;
        margin: auto;
    }
    .text-block {
        position: absolute;
        top: 110px;
        left: 10px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        width: 380px;
    }
    
    
    
    
    .text-block p {
        color: #fff !important;
        font-size: 1.1rem !important;
        letter-spacing: -1px;
        line-height: 2rem;
        font-weight: 300;
    }
    
    
    .text-block h1 {
        font-size: 1.8rem;
        font-family: "DM Serif Text", serif;
    }
    
    .newabc {
        height: 50vh;
        width: 100% !important;
        position: relative;
        font-family: Arial;
    }
    .newabc img{
        height: 50vh;
        width: 100%;
      }
    .ambulance-item h2 {
        color: #d4af37;
        font-size: 22px;
        font-weight: 500;
        margin: 15px;
        margin-top: 30px;
        font-family: 'DM SERIF TEXT';
    }
    .whymanasik {
        height: 610px;
        width: 80%;
        margin: auto;
        display: block;
    }
    .scaleimage-about {
        display: flex;
        margin-top: 20px;
        /* background-color: #d4af37; */
        justify-content: center;
    }
    .warning-card {
        width: 70%;
        display: block;
        height: 400px;
        margin: auto;
    }
    .warning-section p {
        font-size: 14px !important;
    }
    .career-warning1 {
        height: 610px;
        width: 100%;
    }
    .imgceo {
        background-color: #c5c5c5;
        height: 132px;
        margin-top: 30px;
    }
    .warning-section {
        margin-top: 30px;
    }
    .destination-cards {
        display: block;
        /* flex-wrap: wrap-reverse; */
    }
    .destination-right {
        height: 350px;
        width: 90%;
        margin: auto;
    }
    .destination-right h2 {
        color: #d4af37;
        font-size: 24px;
        /* padding-top: 30px; */
        /* padding-left: 30px; */
        text-align: center;
    }
    .destination-main {
        height: auto;
    }
    .whymanasikleft h2 {
        color: #d4af37;
        text-align: center;
    }
    .destination-left {
        height: 350px;
        width: 70%;
        margin: auto;
    }
    .arabicstyle {
        flex-direction: row-reverse;
        font-family: Noto-Sans-Arabic;
        /* height: 100px !important; */
        display: block !important;
    }
    .header-banner .search-main .search-section .search-form {
        display: flex;
        height: -moz-fit-content;
        height: fit-content;
        align-content: center;
        z-index: 100;
        flex-wrap: wrap;
    }
    .header .navbar .navbar-toggler .arabictoggle{
        float: right !important;
    }
    .dropdown-menu-dark .dropdown-item:hover{
        color: rgb(44, 43, 43) !important;
    }
    .header .navbar .navbar-toggler {
        border-color: transparent;
        float: right;
    }
    
    .col-12.col-md-10.mobilemenu {
        width: 100% !important;
        position: absolute;
        right: 0;
    }
    .row.g-0.justify-content-end.w-100.h-100 .col-md-10 {
        width: 100% !important;
       }
    ul.dropdown-menu.dropdown-menu-dark.show {
        background: transparent;
        border: unset;
    }
    ul.dropdown-menu.dropdown-menu-dark.show {
        text-align: center;
    }
    ul.dropdown-menu.dropdown-menu-dark.show a.nav-link {
        font-size: 10px;
    }
    
    li.nav-item.dropdown {
        text-align: center;
    }
    .dropdown-menu-dark .dropdown-item {
        color: #000;
        font-size: 12px;
    }
    .custom-container {
        margin: 0 2rem;
    }
    .hotel-services1 {
        height: 760px;
        margin-top: 50px;
    }
    .bg-video-wrap {
        background-position: left;
        background-size: auto;
        background-repeat: no-repeat;
    }
    .header-banner .banner-main p {
        padding: 0;
        margin: 0;
        color: #fff !important;
        font-size: 1.5rem !important;
        letter-spacing: -1px;
        line-height: 2rem;
        font-weight: lighter;
    }
    .col-md-11 {
        flex: 0 0 auto;
        width: 91.666667%;
        padding-left: 10px;
    }
    .home-main .package-section {
        padding: 4rem 0;
        // min-height: 1700px;
    }
   
    .header-banner .bg-video-wrap {
        height: 36vh;
    }
    .header-banner {
        height: 40vh;
    }
    .header-banner .search-main .search-section {
        padding: 1rem 1rem 1rem 3rem;
        display: table;
    }
    // .header-banner .search-main {
    //     bottom: -10%;
    // }
    .col-12.col-md-6.col-xxl-5.about {
        // margin-top: 60px !important;
        margin-right: 1px !important;
    }
    .header-banner .banner-main h1 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .header-banner .banner-main p {
        font-size: 1.5rem;
    }
    .header-banner .search-main .search-section .search-form .form-control input {
        width: 100px;
        font-size: 12px;
    }
    .header-banner .search-main .button-section {
        height: 102px;
    }
    .home-main .hotel-services {
        margin: 1rem 0;
        margin-top: 25vh;
    }
    
    .home-main .hotel-services h2 {
        line-height: 1rem;
        font-size: 2rem !important;
        text-align: center;
    }
    .home-main .hotel-services p { 
        font-size: .8rem !important;
    }
    .home-main .aircraft-section .about h2 {
        font-size: 2rem !important;
    }
    .home-main .aircraft-section .about p {
        font-size: .8rem !important;
    }
    .home-main .aircraft-section .about {
        //margin-top: 12rem;
    }
    .home-main .package-section{
        padding: 4rem 0;
    }

    .home-main .package-section h2 {
        font-size: 2.5rem !important;  
    }
    .home-main .package-section .card .card-body p {
        text-align: center;
        font-size: 0.9rem !important;
    }
    .home-main .package-section .card .card-img {
        width: 100px;
        height: 100px;
    }
    .home-main .package-section .card {
        padding: 2rem 1rem;
    }
    .contactus .info-details h2 {
        font-size: 2rem !important;
    }

    .contactus .contactus-form form button {
        height: 45px;
    }

    .footer .footer-top .footer-links p {
        font-size: 12px !important;
    }
    .footer .footer-top .footer-logo p{
        font-size: 12px !important;
    }
    .footer .footer-top .footer-logo img {
        width: 90%
    }
    .header .custom-nav .navbar-nav li .nav-link {
        padding-right: 0.5rem;
        padding-left: .5rem;
        font-size: 12px;
    }
    .header .custom-nav .navbar-nav li .header-search-btn {
        padding: 2px 5px;
        border-radius: 5px;
        margin-right: 1rem;
    }
    .header .custom-nav .navbar-nav li .header-search-btn i{
        font-size: 12px;
    }
    .header-banner .search-main .search-section .search-form .form-control input[type=number] {
        width: 40px;
    }
    .header-banner .search-main {
        width:100% ;
        position: absolute;
        margin-top: -6vh;
    }

    .col-12.col-md-6.col-xxl-5.about {
        height: 400px;
        margin-right: 1px !important;
        width: 80%;
    }
    .home-main .aircraft-section {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 999;
        height: 50vh;
    }
    .home-main .aircraft-section .about {
        margin-top: 3rem;
        background-color: #fff;
        padding: 6rem 3rem 3rem 3rem;
    }
    .card1 {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        padding: 16px;
        text-align: center;
        background-color: #fff;
        height: 450px;
        width: 70%;
        margin-top: 10px;
        transition: all 0.8s ease-out;
        margin: auto;
    }
    .bg-video-wrap {
       
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .col-md-10 {
        flex: 0 0 auto;
        width: 100%;
        background-color: #eaecee !important;
    }
    .header-search-btn{
        display: none;
    }
    .nav-item img{
        display: block;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 90%;
    }
    .header-banner .search-main .search-section .search-form {
        display: flex;
        height: -moz-fit-content;
        height: fit-content;
        align-content: center;
        z-index: 100;
    }
    
.gallerydiv{
    height: 580px;
    display: block;
  }
  .gallery-left1{
  height: 300px;
  flex: 1;
  }
  .gallery-right1{
    height: 320px;
    flex: 1;
  
  }
  .row2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .column2{
    
    height: 140px !important;
    width: 110px !important;
    margin-top: 20px;
  
    
  }
  .custom-btn {
    margin-top: 15px !important;
    
}
  
.ctmbtn {
    margin-top: 50px !important;
    /* margin-right: 290px; */
}
  .card2 img{
  width: 100%;
  height: 100%;
  }
  .gallery-right1 img{
    width: 100%;
  height: 100%;
  }
  .gallery-text h6 {
    padding-left: 75px;
    padding-top: 10px;
    font-size: 14px;
    color: #473939;
  
  }
  .gallery-text h3 {
   color: #d4af37;
   font-size: 28px;
   font-weight: 600;
   padding-left: 75px;
    padding-top: 10px;
  }
  .home-main .hotel-services .image-section img {
    width: auto;
    height: 340px;
    margin-top: 2vh;
}
.search-section{
    display: none;
}
}
@media (max-width: 576px) and (min-width: 320px) {
    .newabc {
        height: 45vh;
        width: 100% !important;
        position: relative;
        font-family: Arial;
    }
    .text-block {
        position: absolute;
        top: 110px;
        left: 20px;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        width: 380px;
    }
    .text-block p {
        color: #fff !important;
        font-size: 1.1rem !important;
        letter-spacing: -1px;
        line-height: 2rem;
        font-weight: 300;
    }
    
    
    .text-block h1 {
        font-size: 1.8rem;
        font-family: "DM Serif Text", serif;
    }
    .newabc img{
        height: 45vh;
        width: 100%;
      }
    .home-main .hotel-services .image-section img {
        width: auto;
        height: 300px;
        margin-top: 4vh;
    }
    .header .navbar-brand {
        height: 100%;
        width: 160px;
    }
    .packagesdetails {
        min-height: 800px;
        width: 80% !important;
        margin: auto;
    }
    .ambulance-item h2 {
        color: #d4af37;
        font-size: 22px;
        font-weight: 500;
        margin: 15px;
        margin-top: 30px;
        font-family: 'DM SERIF TEXT';
    }
    .dropdown-menu-dark .dropdown-item:hover{
        color: rgb(44, 43, 43) !important;
    }
    .header .navbar .navbar-toggler .arabictoggle{
        float: right !important;
    }
    .header .navbar .navbar-toggler {
        border-color: transparent;
        float: right;
    }
    
    .header .navbar .navbar-toggler .arabictoggle{
        float: right !important;
    }
    .dropdown-menu-dark .dropdown-item:hover{
        color: rgb(44, 43, 43) !important;
    }
    .header .navbar .navbar-toggler {
        border-color: transparent;
        float: right;
    }
    
    .ambulanec-content {
        width: 100%;
        margin: auto;
    }
    .ambulanec-banner {
        
        height: 200px;
        width: 70%;
        margin: auto;
    }
    .ambulancetext {
        margin-left: 0px;
        margin-top: 5vh;
    }
    .ambulance-item {
        height: 240px;
        width: 100%;
        margin: 2px;
    }
    .ambulanceGallery {
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
        /* margin-top: 40px; */
        /* margin-left: 18vw; */
    }
    .ambulance-item p {
        font-size: 12px !important;
        text-align: justify;
        line-height: 20px;
        margin: 15px;
    }
    .col-12.col-md-10.mobilemenu {
        width: 100% !important;
        position: absolute;
        right: 0;
    }
    .row.g-0.justify-content-end.w-100.h-100 .col-md-10 {
        width: 100% !important;
       }
    ul.dropdown-menu.dropdown-menu-dark.show {
        background: transparent;
        border: unset;
    }
    ul.dropdown-menu.dropdown-menu-dark.show {
        text-align: center;
    }
    ul.dropdown-menu.dropdown-menu-dark.show a.nav-link {
        font-size: 10px;
    }
    
    li.nav-item.dropdown {
        text-align: center;
    }
    .dropdown-menu-dark .dropdown-item {
        color: #000;
        font-size: 12px;
    }
    .arabicstyle {
        flex-direction: row-reverse;
        font-family: Noto-Sans-Arabic;
        /* height: 100px !important; */
        display: block !important;
    }
    .custom-container {
        margin: 0 2rem;
    }
    .col-12.col-md-10.mobilemenu {
        width: 100% !important;
        position: absolute;
        right: 0;
    }
    .row.g-0.justify-content-end.w-100.h-100 .col-md-10 {
        width: 100% !important;
       }
    ul.dropdown-menu.dropdown-menu-dark.show {
        background: transparent;
        border: unset;
    }
    ul.dropdown-menu.dropdown-menu-dark.show {
        text-align: center;
    }
    ul.dropdown-menu.dropdown-menu-dark.show a.nav-link {
        font-size: 10px;
    }
    .ambulanec-content p {
        font-size: 12px !important;
        width: 90%;
        margin-left: 30px;
        margin-top: 30px;
    }
    .dropdown-menu-dark .dropdown-item {
        color: #000;
        font-size: 12px;
    }
    .header-banner .banner-main {
        z-index: 5;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        top: 40%;
        bottom: 0;
        left: 12%;
        right: 0;
        margin: auto;
    }
    .home-main {
        margin-top: 10px;
    }
    .custom-container {
        width: 90%;
        margin: auto;
    }
    .header-banner .bg-video-wrap {
        height: 30vh;
    }
    .header-banner {
        height: 30vh;
    }
    .header-banner .search-main .search-section {
        padding: 1rem 1rem 1rem 3rem;
    }
    // .header-banner .search-main {
    //     bottom: -10%;
    // }
    .col-12.col-md-6.col-xxl-5.about {
        margin-top: 60px !important;
        margin-right: 1px !important;
        width: 100%;
    }
    .home-main .aircraft-section {
      
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 999;
        height: 75vh;
    }
    .header-banner .banner-main h1 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .header-banner .banner-main p {
        font-size: 1rem !important;
    }
    .header-banner .search-main .search-section .search-form .form-control input {
        width: 100px;
        font-size: 12px;
    }
    .header-banner .search-main .button-section {
        height: 182px;
    }
    .home-main .hotel-services {
        margin: 10rem 0;
    }
    
    .home-main .hotel-services h2 {
        line-height: 1rem;
        font-size: 2rem !important;
    }
    .home-main .hotel-services p { 
        font-size: .8rem !important;
        
    }
    .home-main .aircraft-section .about h2 {
        font-size: 1.5rem !important;
    }
    .home-main .aircraft-section .about p {
        font-size: .8rem !important;
    }
    .home-main .aircraft-section .about {
        margin-top: 10rem;
    }
    .home-main .package-section{
        padding: 4rem 0;
    }

    .home-main .package-section h2 {
        font-size: 1.5rem !important;  
    }
    .home-main .package-section .card .card-body p {
        text-align: center;
        font-size: 0.9rem !important;
    }
    .home-main .package-section .card .card-img {
        width: 100px;
        height: 100px;
    }
    .home-main .package-section .card {
        padding: 2rem 1rem;
    }
    .contactus .info-details h2 {
        font-size: 1.5rem !important;
    }
    .contactus .contactus-form form input {
        text-transform: uppercase;
        margin: 10px 0;
        padding-left: 20px;
        border: none;
        width: 100%;
        height: 35px;
        font-size: 12px;
    }
    .contactus .contactus-form form textarea {
        text-transform: uppercase;
        margin: 10px 0;
        padding-top: 20px;
        padding-left: 20px;
        border: none;
        width: 100%;
        font-size: 12px;
        height: 130px;
    }
    .footer .footer-top .footer-logo img {
        width: 70%;
    }

    .contactus .contactus-form form button {
        height: 45px;
    }

    .footer .footer-top .footer-links p {
        font-size: 12px !important;
    }
    .footer .footer-top .footer-logo p{
        font-size: 12px !important;
    }
    .footer .footer-top .footer-logo img {
        width: 90%
    }
    .header .custom-nav .navbar-nav li .nav-link {
        padding-right: 0.5rem;
        padding-left: .5rem;
        font-size: 9px;
    }
    .header .custom-nav .navbar-nav li .header-search-btn {
        padding: 2px 5px;
        border-radius: 5px;
        margin-right: 1rem;
    }
    .header-banner .search-main .search-section {
        width: 100%;
        padding: 3rem 2rem 3rem 3rem;
        display: block;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }
    .search-form {
        
        display: flex;
        height: -moz-fit-content;
        height: fit-content;
        align-content: center;
        flex-wrap: wrap;
        z-index: 100;
    }
    .header .custom-nav .navbar-nav li .header-search-btn i{
        font-size: 12px;
    }
    .header-banner .search-main .search-section .search-form .form-control input[type=number] {
        width: 40px;
    }
    .header-banner .search-main {
        display: none;
        width: 100%;
        margin-top: 30vh;
        height: 130px;
        
    }
    .gallerydiv {
        height: 730px;
        display: block;
    }
    .gallery-text h6 {
        padding-left: 20px;
        padding-top: 10px;
        font-size: 14px;
        color: #473939;
    }
    .gallery-text h3 {
        color: #d4af37;
        font-size: 28px;
        font-weight: 600;
        padding-left: 20px;
        padding-top: 10px;
    }
    .gallery-right1 {
        height: 250px;
        flex: 1 1;
        background-color: #473939;
    }
    .hotel-services1 {
        height: 830px;
        margin-top: 10px;
    }
    .card1 img {
        padding-top: 0px;
        margin: auto;
    }
    .card-images{
        height: 70px;
        width: 70px;
    }
    /////
    .header-banner .search-main .search-section {
        width: 100%;
        padding: 3rem 2rem 3rem 3rem;
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
    }
    .col-md-10 {
        flex: 0 0 auto;
        width: 100%;
        background-color: #eaecee !important;
    }
    .header-search-btn{
        display: none;
    }
    .nav-item img{
        // display: block;
    }
    .dropdown-menu-dark {
        color: #dee2e6;
        font-size: 11px;
        background-color: #eaecee !important;
        color: black !important;
    }
    .dropdown-menu {
      border: none;
        color: black;
       
    }
    .airambulance-cards {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .ambulance-item {
        height: 290px;
        width: 90%;
        margin: 2px;
    }
    .destination-right p {
        font-size: 13px !important;
        padding-top: 10px;
        padding-left: 30px;
        margin-right: 10px;
    }
    .vision {
        width: 90%;
        margin: auto;
        height: auto;
        margin-bottom: 50px;
    }
    .whymanasikright {
        flex: 2 1;
        display: none;
    }
    .whymanasikleft p {
        font-size: 13px !important;
    }
    .whymanasikleft h6 {
        font-weight: bold;
        font-size: 14px;
    }
    .career-cards {
        display: block;
    }
    .career_section {
        height: 780px;
        width: 90%;
        /* margin: auto; */
        margin-top: 40px;
    }
    .career-left {
        height: 650;
        width: 100%;
        margin: 10px;
        
    }
    .career-left img {
        height: 320px;
        width: 90%;
        margin: auto;
        /* margin: 10px; */
    }
    .career-warning {
        height: 400px;
        width: 100%;
        display: none;
    }
    .hq-careers {
        max-height: 820px;
        width: 100%;
        margin: auto;
        background-color: #c5c5c5;
        margin-top: 20px;
        display: none;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 90%;
    }
    .inner-destination-centent {
        display: block;
        height: 460px;
    }
    .inner-destination-centent p {
        font-size: 14px !important;
        margin: 10px;
        color: #fff;
    }
    .destination-centent {
        min-height: 470px;
        background-color: #d4af37;
        width: 90%;
        margin: auto;
        margin-top: 30px;
    }
    .form-destination {
        display: none;
    }
    .destination-main {
        /* min-height: 400px; */
        /* max-height: 500px; */
        margin: auto;
        margin-top: 15px;
    }
    .inner-destination-centent img {
        height: 198px;
        width: 100%;
        /* width: 35vw; */
        /* margin-right: 10px; */
        margin: auto;
    }
    .search-section{
        display: none;
    }
    .home-main .package-section {
        
        height: 730px;
    }
    .card-images {
        padding-top: 0px;
        width: 70px;
        height: 70px;
    }
    .home-main {
        margin-top: 3vh;
    }
    .destination-cards {
        display: block;
        
    }
    .destination-right {
        height: 290px;
        width: 90%;
        margin-top: 15px;
    }
    .destination-left {
        height: 320px;
        width: 90%;
        margin: auto;
    }
    .mappingstyabout:nth-child(even) {
        margin-top: 50px;
        flex-direction: row-reverse;
        height: auto;
    }
    .warning-card {
        width: 90%;
        display: block;
        height: auto;
        margin: auto;
    }
    .imgceo {
        background-color: #c5c5c5;
        height: 260px;
        margin-top: 70px;
    }
    .career-warning1 {
        height: auto;
        width: 100%;
    }
    .aboutcard11 {
        /* margin-left: 30px; */
        margin: auto;
        margin-top: 10vh;
        width: 60%;
    }
    .images1 img {
        height: 234px;
        width: 240px;
        z-index: 999;
    }
    .popular-card {
        background-color: #f7f5f1;
        height: 298px;
        width: 245px;
        margin: 20px;
        box-shadow: 2px 2px 12px rgb(170 168 168);
        transform: scaleX(20deg);
    }
    .about-bg {
      
        height: 680px;
        width: 100%;
    }
}