# dependencies
/node_modules
/landinpage/node_modules
/landinpage/.pnp
/landinpage/.pnp.js

# testing
/landinpage/coverage

# production
/landinpage/build

# misc
/backend/config/congi.env
/landinpage/.DS_Store
/landinpage/.env.local
/landinpage/.env.development.local
/landinpage/.env.test.local
/landinpage/.env.production.local

/landinpage/npm-debug.log*
/landinpage/yarn-debug.log*
/landinpage/yarn-error.log*
